:root {
  --accent-color: #2196f3;
  --main-text-black-color: #212121;
  --main-white-color: #ffffff;
  --main-grey-color: #757575;
  --dark-background-color: #2f303a;
  --button-filter-background-color: #f5f4fa;
  --footer-text-semi-transparent-color: rgba(255, 255, 255, 0.6);
  --gradient: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );
}

.modal__label-check, .modal__checkbox, .modal__button-close, button.footer-form__button, .footer-form__input, .footer-thumb__link, .clients__link-icon, .team__link-icon, .advantages__thumb, .menu-open, .connect__contacts, .navigation, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
  padding: 0px;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-white-color);
  color: var(--main-text-black-color);
}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  color: var(--main-text-black-color);
}
.navigation__logo span {
  color: var(--accent-color);
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.menu__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-black-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.blue-line::after {
  position: absolute;
  top: 96%;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header__connect {
  margin-left: auto;
}

.connect {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}

.connect__contacts {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__contacts:hover, .connect__contacts:focus {
  color: var(--accent-color);
}

.connect__icon {
  margin-right: 10px;
  --color3: currentColor;
}

.menu-open {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
}
.mob-menu > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.mob-menu-top {
  margin-bottom: 20px;
}

.mob-menu__close {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  background-color: #fff;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-connect__list {
  margin-bottom: 64px;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__tel {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-connect__mail {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.soc__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  max-width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: var(--gradient), url(../images/bg_image_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/bg_image_mob_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url(../images/bg_image_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/bg_image_tab_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--gradient), url(../images/bg_image.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/bg_image_2x.jpg);
  }
}

.hero__slogan {
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__slogan {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.advantages__thumb {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.services__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.projects__item {
  position: relative;
}
.projects__item::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  top: 76%;
}

.projects__name {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 27px;
  color: var(--main-white-color);
  text-transform: uppercase;
}

.our-team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--button-filter-background-color);
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.our-team__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
  text-align: center;
  margin-bottom: 16px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
  margin: auto;
}

.team__link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 0.6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
  color: rgb(175, 177, 184);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link-icon:hover, .team__link-icon:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.team__member-icon {
  --color4: currentColor;
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03;
  margin-bottom: 50px;
  text-align: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link-icon {
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgb(175, 177, 184);
  color: rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link-icon:focus, .clients__link-icon:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  --color4: currentColor;
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .footer__total {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__total {
    -webkit-column-gap: 156px;
       -moz-column-gap: 156px;
            column-gap: 156px;
  }
}

.footer__logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: var(--main-white-color);
}

.footer__logo span {
  color: var(--accent-color);
}

.footer__phisical-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--main-white-color);
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phisical-address:hover, .footer__phisical-address:focus {
  color: var(--accent-color);
}

.footer__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-text-semi-transparent-color);
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--accent-color);
}

.footer__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-text-semi-transparent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__tel:hover, .footer__tel:focus {
  color: var(--accent-color);
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding-top: 0px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__icons {
    margin-left: 70px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 12px;
  }
}

.footer__slogan {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
  width: 100%;
}

.footer-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 206px;
  height: 44px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer-thumb {
    margin: 0;
  }
}

.footer-thumb__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  line-height: 0.6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --color4: var(--main-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-thumb__link:hover, .footer-thumb__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-form {
    display: block;
  }
}

.footer-form__label {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--main-white-color);
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 60px;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    padding-top: 12px;
  }
}

.footer-form__input {
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

button.footer-form__button {
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-top: 20px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  padding-left: 28px;
  padding-right: 28px;
}
@media screen and (min-width: 768px) {
  button.footer-form__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  button.footer-form__button {
    margin-left: 12px;
    margin-top: 48px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__button-close {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
}

.modal__button-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:focus .modal__button-icon, .modal__button-close:hover .modal__button-icon {
  fill: var(--accent-color);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  height: 23px;
}
@media screen and (min-width: 768px) {
  .modal__form {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__form {
    width: 448px;
  }
}

.modal__name {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-black-color);
  margin-bottom: 2px;
}

.modal__field {
  display: block;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--accent-color);
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
}

.position-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
}

.relative-input {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px 12px 16px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus, .modal__comment:hover {
  border-color: var(--accent-color);
}
.modal__comment:-moz-placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-check {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .modal__label-check {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal__label-check {
    font-size: 14px;
    letter-spacing: 0.03em;
  }
}

.modal__check-polici {
  color: var(--accent-color);
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 7px;
  display: inline-block;
}

.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  margin-left: 12px;
}
.modal__input-check:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}

.modal__input-check {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.modal__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: var(--accent-color);
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-filters-button {
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: var(--button-filter-background-color);
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  min-width: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filters-button:focus, .portfolio-filters-button:hover {
  color: var(--main-white-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
}

.project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.client-project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-black-color);
  margin-bottom: 4px;
}

.product-project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-content {
  width: 370px;
  height: 404px;
}

a.img {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.img:focus,
a.img:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.address {
  font-style: normal;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.img:hover .product-overlay, a.img:focus .product-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product-actions {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 0.03em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */