.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  width: 100%;
  height: auto;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.advantages__title {
  @include font(14px, 1.14, null, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.advantages__thumb {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  @extend %flex;
  justify-content: center;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
}
