.footer-form {
  display: flex;
  margin-left: 93px;
}

.footer-form__label {
  @include font(14px, 1.14, null, 0.03em);
  display: flex;
  flex-direction: column;
  color: var(--main-white-color);
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 12px;
  gap: 20px;
}

.footer-form__input {
  @extend %flex;
  @include font(14px, 1.25, null, 0.03em);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

button.footer-form__button {
  @extend %flex;
  @include font(null, null, 700, 0.06em);
  margin-left: 12px;
  margin-top: 48px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  justify-content: space-between;
  width: 200px;
  padding-left: 28px;
  padding-right: 28px;
}
