.hero {
  background-color: var(--dark-background-color);
  text-align: center;

  max-width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg_image.jpg);

  background-position: center;
  background-size: cover;
}

.hero__slogan {
  @include font(26px, 1.61, 900, 0.06em);
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36, 900, 0.06em);
  }
}

.hero__button {
  @include font(16px, 1.88, 700, 0.06em);
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
