.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-filter-background-color);
}

.our-team__title {
  @include font(36px, 1.17, null, 0.03em);
  margin-bottom: 50px;
  text-align: center;
}

.team__name {
  @include font(16px, 1.19, 500, 0.03em);
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  @include font(16px, 1.19, null, 0.03em);
  color: var(--main-grey-color);
  text-align: center;
  margin-bottom: 16px;
}

.team {
  display: flex;
  gap: 30px;
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin: auto;
}

.team__member-icon {
  --color4: currentColor;
}

.team__link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 0.6;

  @extend %flex;
  justify-content: center;

  background-color: none;
  color: rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
  }
}

.team__item {
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
