*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
  padding: 0px;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}