:root {
  --accent-color: #2196f3;
  --main-text-black-color: #212121;
  --main-white-color: #ffffff;
  --main-grey-color: #757575;
  --dark-background-color: #2f303a;
  --button-filter-background-color: #f5f4fa;
  --footer-text-semi-transparent-color: rgba(255, 255, 255, 0.6);
}


